# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Build directories
build/
Build/
out/
build*/

# Model files
*.gguf

# IDE files
.vs/
.vscode/
*.vcxproj.user
.idea/

# Linux specific
kolosal-cli
kolosal-server
*.so
*.so.*

# Windows specific  
*.exe
*.dll
*.pdb
*.ilk

# Logs
*.log

# Cache files
.cache/